.header {
    color: #1A0D0D;
    background-color: #DB0404;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    box-sizing: border-box;
}

@media screen and (max-width: 575px) {
  .navText {
    display: none;
  }

  .navIcon {
    font-size: 2rem;
  }

} 

@media screen and (max-width: 375px) {
  .userName {
    display: none;
  }

}
